.container section {
  margin: 2em 16em;
  text-align: center;
}

@media (max-width: 1100px) {
  .container section {
    margin: 2em 6em;
  }
}

@media (max-width: 768px) {
  .container section {
    margin: 2em 0em;
  }
}